$icomoon-font-path: "icons/fonts" !default;

$fa-th-list: "\f00b";
$fa-home: "\f015";
$fa-download: "\f019";
$fa-square-o: "\f096";
$fa-twitter: "\f099";
$fa-github: "\f09b";
$fa-wrench: "\f0ad";
$fa-bolt: "\f0e7";
$fa-flash: "\f0e7";
$fa-mobile: "\f10b";
$fa-mobile-phone: "\f10b";
$fa-shield: "\f132";
$fa-wordpress: "\f19a";
$fa-paint-brush: "\f1fc";
$fa-rocket: "\e9a5";
$fa-share2: "\ea82";

